from pydantic_settings import BaseSettings

class Settings(BaseSettings):
    APP_NAME: str = "{{ project_name }}"
{% if use_db %}
    DATABASE_URL: str = "{{ 'sqlite:///./app.db' if db_choice == 'sqlite' else 'postgresql://user:pass@localhost/db' }}"
{% endif %}

    class Config:
        env_file = ".env"

settings = Settings()
